[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/dnguyen85/vim-colors-solarized
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/dnguyen85/vim-latex 
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
    url = https://github.com/dnguyen85/vimwiki.git 
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-matlab"]
	path = bundle/vim-matlab
	url = https://github.com/dnguyen85/vim-matlab
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/grproject"]
	path = bundle/grproject
	url = https://github.com/mbr0wn/grproject.vim.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
[submodule "bundle/splice.vim"]
	path = bundle/splice.vim
	url = https://github.com/sjl/splice.vim.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://github.com/dnguyen85/neosnippet-snippets
[submodule "bundle/vim-mako"]
	path = bundle/vim-mako
	url = https://github.com/dnguyen85/vim-bundle-mako.git  
[submodule "bundle/context_filetype.vim"]
	path = bundle/context_filetype.vim
	url = https://github.com/Shougo/context_filetype.vim
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/dnguyen85/vim-snippets
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-loremipsum"]
	path = bundle/vim-loremipsum
	url = https://github.com/vim-scripts/loremipsum
[submodule "bundle/accelerated-smooth-scroll"]
	path = bundle/accelerated-smooth-scroll
	url = https://github.com/yonchu/accelerated-smooth-scroll.git
[submodule "bundle/diffchar.vim"]
	path = bundle/diffchar.vim
	url = https://github.com/vim-scripts/diffchar.vim.git
[submodule "bundle/DirDiff.vim"]
	path = bundle/DirDiff.vim
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/voom"]
	path = bundle/voom
	url = https://github.com/vim-scripts/VOoM
[submodule "bundle/vim-origami"]
	path = bundle/vim-origami
	url = https://github.com/kshenoy/vim-origami
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/limelight.vim"]
	path = bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "bundle/vim-writingsyntax"]
	path = bundle/vim-writingsyntax
	url = https://github.com/jamestomasino/vim-writingsyntax
[submodule "bundle/neco-look"]
	path = bundle/neco-look
	url = https://github.com/ujihisa/neco-look
[submodule "bundle/neoinclude.vim"]
	path = bundle/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim
[submodule "bundle/vim-bufkill"]
	path = bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "bundle/auto-paris"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/enabler_vim"]
	path = bundle/enabler_vim
	url = https://github.com/tomtom/enabler_vim
[submodule "bundle/vim-pandoc-after"]
	path = bundle/vim-pandoc-after
	url = https://github.com/vim-pandoc/vim-pandoc-after
[submodule "bundle/vim-table-mode"]
	path = bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "bundle/vim-seek"]
	path = bundle/vim-seek
	url = https://github.com/goldfeld/vim-seek
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv
[submodule "bundle/vim-matlab-fold"]
	path = bundle/vim-matlab-fold
	url = https://github.com/esquires/vim-matlab-fold
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/dnguyen85/vim-pandoc
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "bundle/thesaurus_query.vim"]
	path = bundle/thesaurus_query.vim
	url = https://github.com/Ron89/thesaurus_query.vim
[submodule "bundle/FastFold"]
	path = bundle/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "bundle/syntastic-grammar-checkers"]
	path = bundle/syntastic-grammar-checkers
	url = https://github.com/dnguyen85/syntastic-grammar-checkers
[submodule "bundle/writegood.vim"]
	path = bundle/writegood.vim
	url = https://github.com/davidbeckingsale/writegood.vim
[submodule "bundle/vim-stardict"]
	path = bundle/vim-stardict
	url = https://github.com/dnguyen85/vim-stardict
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
